<div class="inar-message error">
  <div class="message-label">
    <sw-icon :name="icon" :color="color"/>
    <span>{{ label }}</span>
  </div>
  <div class="message-content">
    <slot></slot>
  </div>
</div>
